* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 992px;
    margin:0 auto;
}
