li {
    list-style: none;
}

#head-nav-list,
#head-icons {
    display: flex;
    gap: 30px;
}
#head-icons li:last-child{
    display: none;
}

/* HERO */

.hero-container{
    height: auto;

}

.hero__img{
    width: 50%;
}