/*  panel show */

.show {
    left: 0 !important;
}

/*  Point 1160 */
@media (max-width:1160px) {
    #head-nav-list {
        flex-direction: column;
        width: 150px;
        padding: 22px;
        height: 100vh;
        top: 50px;
        left: -300px;
        background-color: aqua;
        position: absolute;
        transition: left 0.5s;
        gap: 5px;
    }

    #head-icons li:last-child {
        display: block;
    }

    #menu-btn {
        position: relative;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }
}

/*  Point 992 */
@media (max-width:992px) {
    #head-nav-list {
        flex-direction: column;
        width: 150px;
        padding: 22px;
        height: 100vh;
        top: 50px;
        left: -300px;
        background-color: aqua;
        position: absolute;
        transition: left 0.5s;
        gap: 5px;
    }

    #head-icons li:last-child {
        display: block;
    }

    #menu-btn {
        position: relative;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }
}


@media (max-width:592px) {
    #head-icons {
        flex-direction: column;
        width: 150px;
        padding: 0 22px;
        height: 100vh;
        left: -15px;
        background: transparent;
        position: fixed;
        transition: all 0.5s ease-in-out;
        opacity: 0.7;
        top: 250px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }
}