.site-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.site-header{
    display: flex;
    max-width: 1160px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.items-nav-pages{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li{
    list-style: none;
}
.nav-pages-links{
    text-decoration: none;
    text-transform: uppercase;
}

.pages-items:not(.btn-register){
    padding-left: 50px;
}