.site-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border: solid greenyellow 2px;
}

.site-header{
    display: flex;
    max-width: 992px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.items-nav-pages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

li{
    list-style: none;
    letter-spacing: 2px;
}
.nav-pages-links{
    text-decoration: none;
    text-transform: uppercase;
}
.menu{
    display: none;
}