main{
    display: contents;
    flex-direction: column;
    justify-content: space-around;
}

.reclama{
    background-color: black;
}
.information{
    background-color: rgb(148, 117, 117);
}
.information-cray{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}


/* INFORATION containerlari */
.info-items , .example,.recla-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


/* ICONLI matnlar  */

.information-items{
    width: 30%;
}


/* EXAMPLE  */

.example{
    background-color: black;
}

.example-description, .reclama-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: beige;
    gap: 25px;
    padding: 35px;
}