.vaizfalar .akademik {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

p {
    padding-left: 50px;
    padding-right: 50px;
}


.paragraph-information {
    padding-bottom: 5px;
    line-height: 25px;
    padding-top: 5px;
    border-radius: 25px;
    background: #37CE43;
    background: -moz-linear-gradient(left, #37CE43 0%, #493AA4 54%, #3040C5 100%);
    background: -webkit-linear-gradient(left, #37CE43 0%, #493AA4 54%, #3040C5 100%);
    background: linear-gradient(to right, #37CE43 0%, #493AA4 54%, #3040C5 100%);
}